<h1><%= t('auth.register') %></h1>

<%= simple_form_for @account, url: register_path do |a| %>
  <div class="row mb-4">
    <%= a.input :email %>
  </div>

  <div class="row mb-4">
    <div class="col">
      <%= a.input :password %>
    </div>

    <div class="col">
      <%= a.input :password_confirmation %>
    </div>
  </div>

  <%= a.button :submit, class: 'btn-primary' %>
<% end %>