<h1><%= t('auth.register') %></h1>

<%= simple_form_for @user, url: register_path do |u| %>
  <div class="row mb-4">
    <%= u.input :email %>
  </div>

  <div class="row mb-4">
    <div class="col">
      <%= u.input :password %>
    </div>

    <div class="col">
      <%= u.input :password_confirmation %>
    </div>
  </div>

  <%= u.button :submit, class: 'btn-primary' %>
<% end %>

<%= render partial: 'partials/notice', locals: { text: flash.notice, category: 'alert-danger' } %>
