<h1><%= t('meetings') %></h1>

<%= link_to t('create_meeting'), new_meeting_path %>

<div class="row mt-5">
  <% @meetings.each do |m| %>
    <div class="col">
      <h4><%= m.title %></h4>

      <% if m.preview_image.attached? %>
        <div class="mt-4 mb-4">
          <%= image_tag m.preview_image, size: 300 %>
        </div>
      <% end %>

      <p><%= m.description %></p>
      <address>
        <b class="ymaps-geolink">
          <%= m.address %>
        </b>
      </address>

      <div>
        <%= time_tag m.started_at %>
        &nbsp;-
        <%= time_tag m.finished_at %>
      </div>

      <div>
        <%= link_to t('to_edit'), edit_meeting_path(m.id) %>
        <%= link_to t('more_link'), meeting_path(m.id), class: 'link-dark' %>
        <%= link_to t('to_delete'), meeting_path(m.id),
                    data: {:confirm => t('sure?')},
                    method: :delete, class: 'link-danger' %>
      </div>
    </div>
  <% end %>
</div>
