<!DOCTYPE html>
<html>
  <head>
    <title>Metoo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=59d0c9b1-9769-4e2d-b1fa-e751b6998a02&lang=ru_RU&load=Geolink"
            type="text/javascript"></script>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
